.carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

.image {
    height: 9rem;
    border-radius: 0.75rem; /* rounded-xl */
    margin: 1rem;
    flex-shrink: 0;
}

@keyframes scroll {
    from {
        transform: translateX(
            0
        ); /* Start with the images off-screen to the left */
    }
    to {
        transform: translateX(
            -100%
        ); /* Move the track to the right, showing the images */
    }
}
